.button {
    -fx-font-size: 16px;
    -fx-font-family: Kaiti;
    -fx-text-fill: white;
    -fx-min-height: 30;
    -fx-min-width: 80;
}

.label {
    -fx-font-family: Kaiti;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}